@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Serif&display=swap');
    font-family: 'Nanum Gothic', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: lightgray;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 30%;
    border: 3px double rgb(150, 13, 13);
    border-width: thick;
    border-radius: 50px;
}
.navbar{
    display: flex;
    align-items:center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.nav-list{
    width: 70%;
    /* background-color: rgb(0, 0, 0); */
    display: flex;
    justify-content: left;
    align-items: center;
    
}
.rightnav{
    /* background-color: blueviolet; */
    width: 30%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-list li{
    list-style-type: none;
    padding: 25px 30px;
}
.nav-list li a{
    text-decoration: none;
    color: white;
}
.nav-list li a:hover {
    border-bottom: 3px solid darkred;
    /* color: darkred; */
}
#search{
    padding: 5px;
    font-size: 18px;
    border-radius: 20px;
}

.background{
    background: url('../img/bg.jpg'),#000000c9;
    background-size: cover;
    background-blend-mode:darken;  
}
.first-section{
    height: 100vh;
    border-bottom: 120px solid darkred;
    border-bottom-right-radius: 100% 22%;
}
.box-main{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    max-width: 55%;
    height: 80%;
    margin: auto;
}
.first-half{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.second-half{
    height: 100vh;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second-half img{
    width: 70%;
    border: 2px double #8c0808;
    border-width: thick;
    border-radius: 50%;
    padding: 5px;
    display: block;
    margin: auto;
}

.text-big{
    font-size: 40px;
}
.text-small{
    font-size: 20px;
    text-align: justify;
    padding-top: 15px;

}
.btn{
    padding: 10px 26px;
    margin: 15px 3px;
    border: 1px solid;
    border-radius: 4px;
    /* font-size: 14px; */
    background: none;
    color: white;
    cursor: pointer;
}
.box-main .btn:hover,
.box-main .btn:focus,
.box-main .btn:active,
.foot-list button:hover,
.foot-list button:focus,
.foot-list button:active,
.btn-sm:hover,
.btn-sm:active, 
.btn-sm:focus{
    background: #840900;
    color: white;
    border: 1px solid darkred;
}
.btn-sm{
    padding: 5px 10px;
    vertical-align: middle;
    cursor: pointer;
}

.section{
    /* height: 400px; */
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 60%;
    margin: auto;
    min-height: 100px;
    padding-top: 60px;
    padding-bottom: 50px;
    border-bottom: 2px solid darkred;
    border-bottom-left-radius: 10% 4%;
    border-bottom-right-radius: 0px;

}
.section:hover{
    box-shadow: -8px 17px 5px grey;
}
.left{
    flex-direction: row-reverse;
    /* border: none; */
    /* border-bottom: 2px solid darkred; */
    border-bottom-right-radius: 10% 4%;
    border-bottom-left-radius: 0px;
}
.section.left:hover{
    box-shadow: 8px 17px 5px grey;
}
.para {
    padding: 0px 45px;
    text-align: justify;
}
.para ul li{
        list-style-type: none;
        list-style-position: inside;
}
.para ul li::before {
    content: "■";
    color: #8c0808;
    margin-right: 15px;
}
.section .text-big{
    text-align: justify;
    text-transform: uppercase;
    margin-bottom: 25px;
    text-shadow: 0px 0px 6px #2b2725b8;
}
.sec-subtag{
    font-family: 'Noto Serif', serif;
    font-size: 14px;
    overflow: hidden;
    
}
.thumbnail {
    /* width: 10%; */
    border: 2px double #8c0808;
    border-width: thick;
    border-radius: 50%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thumbnail img{
    width: 160px;
    /* height: 200px; */
    /* width: 80%; */
    /* border: 2px double #8c0808;
    border-width: thick;
    border-radius: 50%; */
    /* padding: 10px; */
}

.left img{
    width: 150px;
    border-radius: 50%;
}

.contact-detail {
    width: 100%;
    height: 290px;
    /* padding-left: 185px; */
    padding-top: 24px;
    margin-bottom: 0px;
    background: linear-gradient(0,#000000,#570202ed),url(https://png.pngtree.com/background/20210710/original/pngtree-green-nature-small-fresh-poster-banner-background-picture-image_1016363.jpg);
    background-position: center;
    background-repeat: repeat;
}
.container{
    width: 80%;
    margin: auto;
}
table , table a {
    width:80%;
    color: white;
    margin-top: 92px;
    font-size: 16px;
    font-family: 'Nanum Gothic', sans-serif;
    text-decoration: none;
}
.contact-detail table td{
    padding: 2% 2%;
    width:20%;
}

.contact{
    height: 100vh;
    background-color: #dcdcdc3b;
    padding-bottom: 170px;
    margin-top: 80px;
    border-top:2px solid rgba(55, 49, 49, 0.078);
    /* position: absolute; */
}
.text-center{
    text-align: center;
    padding: 50px;
    font-size: 35px;
    font-family: 'Nanum Gothic', sans-serif;
    color: darkred;
}
.map iframe{
    height: 100vh;
    width: 100%;
    position: absolute;
}
.form{
    max-width: 30%;
    margin: 30px auto;
    position: absolute;
    left: 40%;
    margin-top: 116px;
}
.overlay{
    filter: grayscale(100%);  
}
.form input, textarea#msg{
    width: 90%;
    padding: 9px;
    font-size: 18px;
    border: 2px  solid #23262a9e;
    margin: 12px 10px;
    border-radius: 4px;
}
.contact #submit{
    background: darkred;
    margin: 9px;;
}
.contact #submit:hover{
    background:#340303;
}
.form input:focus,
textarea:focus, #search:focus{
    background: #840900;
    color: white;
}
input #submit:active, input #submit:focus{
    background: #694d4d;
}
textarea#msg{
    height: 140px;;
}

.form input::placeholder, textarea::placeholder {
    font-size: 15px;
    color: lightgrey;
}
footer {
    /* height: 50px; */
    width: 100%;
    background: #2d2822;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 4px solid darkred;
    padding: 40px 0px;
    border-top: 120px solid darkred;
    border-top-left-radius: 100% 22%;
}
.foot-div{
    width: 80%;
}
/* Foooter */
.foot-logo {
    text-align: left;
    padding-top: 5px;
    padding-bottom: 27px;
    border-bottom: 1px solid red;
    
}
.foot-logo span p{ 
    font-family: 'Nanum Gothic', sans-serif;

}
.foot-logo img {
    /* padding-bottom: 27px; */
    border: 2px double #8c0808;
    border-width: thick;
    border-radius: 50%;
    padding: 5px;
}
.foot-logo:hover{
    border-bottom: 3px solid silver;
    width: 140px;
}
.foot-list h3 {
    /* margin-left: 5px; */
    font-size: 25px;
    margin-bottom: 20px;
    text-align: left;
    font-family: 'Nanum Gothic', sans-serif;
    
}
.foot-list {
    width: 20%;
    padding: 20px;
    text-align: left;
    display: inline-grid;
}
.foot-list:hover  h3{
    border-bottom: 2px solid darkred;
}

.foot-list li{
    margin: 10px 0px;
}   
.foot-list ul a, .foot-list p{
    color: #d4d4d4;
    font-size: 14px;
    text-decoration: none;
    font-family: 'Noto Serif', serif;
    font-size: 14px;
    /* margin-top: 10px; */

}   
.foot-list b{
    color: #da1010;
}
.foot-list ul a:hover{
    color: #bc2121;
    font-size: 14px;
    /* text-decoration: underline; */


}
.foot-list input{
    border: 3px solid silver;
    border-radius: 16px;
    height: 35px;

}
.foot-list button#submit {
    border-radius: 22px;
}
.foot-list ul{
    text-align: left;
    list-style-type: none;
    padding-left: 0px;
}
.foot-list form{
    margin-top: 15px;
}
.smart-nav{
    position: absolute;
    right: 5%;
    top: 15px;
    cursor: pointer;
    display: none;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 3px;
    border-radius:2px;
}

@media only screen and (max-width: 1140px) {
    .navbar{
        flex-direction: column;
        transition: all 0.5s ease-out;
        height: 420px;
    }
    .nav-list,.rightnav{
        flex-direction: column;
    }
    #search{
        width: 100%;
    }
    .smart-nav{
        display: block;
    }
    /* Responsive */
    .h-nav-resp{
        height: 70px;
    }
    .v-class-resp {
        opacity: 0;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .second-half img {
        width: 30vh;
    }
    .section{
        /* height: 0px; */
        flex-direction: column-reverse;
    }
    .inner-img {
        width: 100%;
        margin: auto;
    }
    .section .text-big {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .form {
        max-width: 50%;
    }
    .para {
        padding: 0px; 
    }
    .form{
        left: 30%;
    }
}
